.Navbar {
    width: 100%;
    max-width: 100vw;
    background: #c57482;
    color: #ffffff;
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--side-padding);
  }
  .Navbar a {
    color: white;
    font-weight: 300;
  }
  .Navbar .content {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .Navbar .content .logo {
    width: 200px;
    margin-right: 50px;
  }
  .Navbar .content .logo h1 {
    color: #ffffff;
  }
  .Navbar .content .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    flex: 1;
    max-width: 650px;
    gap: 50px;
  }
  
  .Navbar .content .links li span {
    color: white;
  }

  .btn, button {
    background: transparent;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    transition: all .1s ease;
    padding: 12px 18px;
    border-radius: 4px;
    background: #00c98e;
    background: lightgreen;
    color: #ffffff;
}
 
  